@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.banner-img{
    background-image: url('../images/banner.png');
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.btn{
    padding: 1rem 2.1rem;
}
.card-list{
    list-style: none;
}
.package-btn{
    padding: 9px 47px;
}
.parson-img{
    width: 200px;
    height: 200px;
}